<%- include header.ejs %>
<%- include alert.ejs %>
<form method = "post">
	<h3 class = "title">用户登录</h3>
	<div class="line">
		<label for="uname">姓名：</label>
		<input style="display:none;" />
		<input type="text" id="name" name="username" />
	
	</div>
	<div class="line">
		<label for="upwd">密码：</label>
		<input style="display:none" />
		<input type="password" id="pwd" name="userpwd"/>
	</div>
	<div class="line">
		<button type="submit" id="btn-login" style="width:80px;height:50px">登陆</button>
	</div>
	
</form>
<%- include footer.ejs %>